<section>
	<md-input-container class="md-block" flex-gt-sm>
        <label class="white-font">Usuario/Correo</label>
        <input mdInput ng-model="user.firstName">
    </md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
        <label class="white-font">Contraseña</label>
        <input mdInput type="password" ng-model="user.firstName">
    </md-input-container>
    <recaptcha (resolved)="resolved($event)" siteKey="YOUR_SITE_KEY"></recaptcha>
	<div class="text-right col-md-8 text-center top30">
	    <button md-button class="btn" type="button" name="buttonSignUp">Ingresar</button>
	</div>
</section>