.notification {
    display: table;
    height: 50px;
    width: 100%;
    text-align: left;
    margin-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #D0E6E9;
    border-radius: 3px;
    box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.8);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

.notification:hover {
    cursor: default;
}

.read {
    background-color: #EBEBEB;
}

.child {
    display: table-cell;
}

.chat-btn {
    background: #57C735;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 10px;
    margin-top: 25%;
    width: 100%;
    border: solid 1px #BDFFA9;
    color: white;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.chat-btn:hover {
    cursor: pointer;
    background: #5CD737;
    -webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
}

.chat-btn:active {
    background: #3A9F1B;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
