<h1 md-dialog-title class="title text-center">AskiiT</h1>

<form name="askiitForm" [formGroup]="askiitForm" (ngSubmit)="onSubmit()">

<div md-dialog-content class="row divContent">

  <div class="col-md-3 leftDiv text-center">
    <div class="divTopicSearch topic-border">
      <md-input-container *ngIf="!StateSelectTopic" [@fadeInOut] >
        <input #topicInput mdInput placeholder="Topic"  formControlName="topic"  [(ngModel)]="term" (ngModelChange)="inputChange(term)"
         required>
        <md-progress-bar class="unicorn-dark-theme" mode="indeterminate"
          style="width: 90%;" *ngIf="!topicGotResponse"></md-progress-bar>
      </md-input-container>
      <div id="searchBox" *ngIf="checkForTopicsEmptyResponse(term) && !StateSelectTopic"
  			class="center-block text-center" [@fadeInOut]>
        <md-chip-list>
          <div id="chip" *ngIf="checkForTopicsEmptyResponse(term)">
            <md-chip class="topic-color center-block text-center"
              *ngFor="let topic of allTopics" (click)="OnSelectTopic(topic.topic_name)" [@fadeInOut]>
              {{topic.topic_name}}
            </md-chip>
          </div>
        </md-chip-list>
      </div>
      <div class="topicChip">
        <md-chip selected="true" color="warn" *ngIf="StateSelectTopic" (click)=OnDelecteTopic()>{{selectedTopic}}</md-chip>
      </div>
    </div>

    <div class="divTagSearch border">
      <div class="divSubTagSearch">
        <md-input-container>
          <input id="tin" #tagInput mdInput placeholder="Tags"  formControlName="tag"
          [(ngModel)]="term1" (ngModelChange)="inputChange1(term1)">
          <md-progress-bar class="unicorn-dark-theme" mode="indeterminate"
            style="width: 90%;" *ngIf="!tagGotResponse"></md-progress-bar>
        </md-input-container>
        <div id="searchBox" *ngIf="!chipClicked&&checkForTagsEmptyResponse(term1)"
          class="center-block text-center" [@fadeInOut]>
          <md-chip-list>
            <div  *ngIf="checkForTagsEmptyResponse(term1)">
              <md-chip class="tag-color center-block text-center"
                *ngFor="let tag of allTags" (click)="addTag(tag.tag_name); tagInput.value=''">
                {{tag.tag_name}}
              </md-chip>
            </div>
          </md-chip-list>
        </div>
      </div>

      <md-chip-list>
          <md-chip class="tag-color-selected center-block text-center"
              *ngFor="let c of selectedTags; let i = index" [@slideIn] [@fadeInOut]
                  [ngStyle]="{'padding-right':'4px', 'padding-left':'4px', 'padding-top':'2px', 'padding-bottom':'2px'}">
              {{c}}
              <md-icon (click)="removeTag(i)" class="vcenter tag-color-selected" style="border-radius: 10px">
                  clear
              </md-icon>
          </md-chip>
      </md-chip-list>
    </div>
  </div>

  <div class="col-md-9 divQuestion ">
    <md-input-container class="divTitle">
      <input #titleInput mdInput placeholder="Título" formControlName="title" required>
      <md-hint *ngIf="askiitForm.controls['title'].hasError('minlength')" align="end" [ngStyle]="{'color': '#B50000'}" [@fadeInOut]>
        Ingresa mínimo 12 caracteres
      </md-hint>
      <md-hint *ngIf="askiitForm.controls['title'].hasError('maxlength')" align="end" [ngStyle]="{'color': '#B50000'}" [@fadeInOut]>
         Ingresa máximo 140 caracteres
      </md-hint>
    </md-input-container>
    <span style="margin-left: 30px; color: #555555">Tiempo de vida (minutos): </span>
    <md-slider
		showTicks="true"  #slider max="180" min="10" step="1" thumbLabel="true" value="60" style="width: 68%"
            class="unicorn-dark-theme">
	</md-slider>
      <textarea #bodyInput name="question" style="resize: none" rows="11" cols="83" class="inputQuestionStyle"
        formControlName="body"  placeholder="Describe tu pregunta!"></textarea><br>
      <span style="margin-left: 30px" *ngIf="askiitForm.controls['body'].hasError('maxlength')"
        class="alert alert-danger" id="ale" [@fadeInOut]>
        Ingresa máximo 500 caracteres
      </span>

  </div>
</div>

<div md-dialog-actions class="divButtons text-center">
  <button md-button class="btn askiitBtn" type="submit" (click)="OnAskiit(titleInput, bodyInput, slider.value)">
    <md-icon>play_for_work</md-icon>
    AskiiT
  </button>
  <button md-button class="btn cancelBtn" (click)="closeAskiit()">
  <md-icon>close</md-icon>
    Cancel
  </button>
</div>

</form>
