<h1 md-dialog-title class="title text-center">AskiiT</h1>

<form name="askiitForm" [formGroup]="askiitForm" (ngSubmit)="onSubmit()">

<div md-dialog-content class="row divContent">

  <div class="col-md-4 leftDiv text-center">
    <div class="divTopicSearch border">
      <md-input-container *ngIf="!StateSelectTopic" [@slideIn] >
        <input #topicInput mdInput placeholder="Topic" list="topics" formControlName="topic" (click)="OnSelectTopic(topicInput)" required>
      </md-input-container>
      <datalist id="topics">
        <option *ngFor="let topic of allTopics" value = {{topic.topic_name}} (keyup.enter)="OnSelectTopic(topicInput)">
      </datalist>
      <div class="topicChip">
        <md-chip selected="true" color="warn" *ngIf="StateSelectTopic" (click)=OnDelecteTopic()>{{selectedTopic}}</md-chip>
      </div>
    </div>

    <div class="divTagSearch border">
      <div class="divSubTagSearch">
        <md-input-container *ngIf="!StateSelectTags[0]">
          <input #tagInput0 mdInput placeholder="Tag 1" list="tags" (click)="OnSelectTag(tagInput0,0)">
        </md-input-container>
        <md-chip selected="true" color="primary" *ngIf="StateSelectTags[0]" (click)=OnDelecteTag(0)>{{selectedTags[0]}}</md-chip>
      </div>
      <div class="divSubTagSearch">
        <md-input-container *ngIf="!StateSelectTags[1]">
          <input #tagInput1 mdInput placeholder="Tag 2" list="tags" (click)="OnSelectTag(tagInput1,1)">
        </md-input-container>
        <md-chip selected="true" color="primary" *ngIf="StateSelectTags[1]" (click)=OnDelecteTag(1)>{{selectedTags[1]}}</md-chip>
      </div>

      <div class="divSubTagSearch">
        <md-input-container *ngIf="!StateSelectTags[2]">
          <input #tagInput2 mdInput placeholder="Tag 3" list="tags" (click)="OnSelectTag(tagInput2,2)">
        </md-input-container>
        <md-chip selected="true" color="primary" *ngIf="StateSelectTags[2]" (click)=OnDelecteTag(2)>{{selectedTags[2]}}</md-chip>
      </div>
      <datalist id="tags">
        <option *ngFor="let tag of allTags" value = {{tag.tag_name}}>
      </datalist>
    </div>
  </div>

  <div class="col-md-8 divQuestion ">
    <md-input-container class="divTitle">
      <input #titleInput mdInput placeholder="Preguntá" formControlName="title" required>
      <md-hint *ngIf="askiitForm.controls['title'].hasError('minlength')" align="end" [ngStyle]="{'color': 'red'}">
        Ingresa mínimo 12 caracteres
      </md-hint>
      <md-hint *ngIf="askiitForm.controls['title'].hasError('maxlength')" align="end" [ngStyle]="{'color': 'red'}">
         Ingresa máximo 140 caracteres
      </md-hint>
    </md-input-container>
      <span *ngIf="askiitForm.controls['body'].hasError('maxlength')" class="alert alert-danger" id="ale">
        Ingresa máximo 500 caracteres
      </span>
      <textarea #bodyInput name="question" rows="12" cols="83" class="inputQuestionStyle"  formControlName="body"  placeholder="¿Qué deseas saber?"></textarea>

  </div>
</div>

<div md-dialog-actions class="divButtons text-center">
  <button md-button class="btn askiitBtn" type="submit" (click)="OnAskiit(titleInput, bodyInput)">
    <md-icon>play_for_work</md-icon>
    AskiiT
  </button>
  <button md-button class="btn cancelBtn" (click)="closeAskiit()">
  <md-icon>close</md-icon>
    Cancel
  </button>
</div>

</form>
