.border{
  border: 2px solid #A0B5D5;
  border-radius: 6px;
}

md-chip {
  padding: 5px;
  border-radius: 20px;
}

md-chip:hover{
  cursor: pointer;

  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.divContent{
  height: 28vh;
}

.leftDiv{
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  height: 99%;
}

.divTopicSearch {
  height: 20%;
  margin-bottom: 3%;
}

.topicChip{
  padding: 15px;
}

.divTagSearch{
  height: 77%;
  padding-top: 30px;
}

.divSubTagSearch{
  height: 33%;
}

.divQuestion{
  padding: 0;
  padding-top: 10px;
  height: 99%;
}
.divTitle{
  height: 20%;
  width: 100%;
}
.inputQuestionStyle{
  width: 100%;
  height: 80%;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
}

.divButtons{
  float: right;
  padding: 0;
  padding-right: 20px
}

.btn{
  font-family: 'Lato', sans-serif;
  margin: 10px;
  color: #0A1E0B;
  width: 100px;
  padding: 0;
}

.askiitBtn{
	background-color: #1FC129;
}

.cancelBtn{
	background-color: #BC1111;
}

#ale{
  position: absolute;
  z-index: 1000;
}

textarea.ng-invalid{border-left: 5px solid red;}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#searchBox {
	position: absolute;
	overflow: auto;
	padding-top: 5px;
	z-index:1000;
	border-right: 1.5px solid #0e445f;
	border-left: 1.5px solid #0e445f;
	border-bottom: 1.5px solid #0e445f;
	border-radius: 10px;
	max-height: 100px;
	background-color: #f0f0f0;
	width: 80%;
	margin-left: 25px;
}

md-chip{
    margin-top: 1px;
	width: 85%;
	font-size: 0.8em;
}

.tag-color {
	background-color: #45C7D8;
	-webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

.topic-color {
    background-color: #FFC820;
	-webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

md-chip.topic-color:hover{
  background-color: #EBB309;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  cursor: pointer;
}
