<md-toolbar class="theme-color">
  <div class="col-md-6 home" routerLink='/home'>
      <img src="../assets/icon.PNG" width="40" height="40" style="margin-top: 10px;">
      <div class="white-font vcenter child">AskiiT Home</div>
  </div>

  <div *ngIf="userData.id!=undefined" style="margin-left:60px; font-size: 0.8em; color: #B8CEF0">
      Hola {{userData.first_name}}
  </div>

  <span class="spacer"></span>

  <button md-button class="col-md-3 askiit-btn" style="text-align: left"
    (click)="openAskiit( )">
    <md-icon style="margin-right: 20px">play_for_work</md-icon>
    AskiiT
  </button>
  <button md-button class="col-md-3 logout-btn tool-bar-btn" style="text-align: left" (click)="logOut()">
    <md-icon style="margin-right: 20px">exit_to_app_black</md-icon>
    Log out
  </button>
</md-toolbar>
