.theme-color {
	background-color: #07f0fa;
	color: #18312e;
}

.askiit-btn {
	background-color: #46dd50;
	color: #113813;
	margin-right: 70px;
	margin-left: 120px;
}

.logout-btn {
	background-color: #43c5bc;
	color: #053e3a;
}

.tool-bar-btn {
	width: 200px;
}