<div class="row contact-box white-font">
	<h1 align="center">Contacto AskiiT</h1>
</div>
<div class="big-box">
	<div class="row">
		<div class="col-md-6 text-center h3-box white-font" style="margin-bottom: 55px;">
			<h3>Escríbenos!</h3>
		</div>
		<div class="col-md-6 text-center h3-box white-font">
			<h3>Contacto</h3>
		</div>
	</div>
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-2 text-right">
			<li class="list-padding">Nombre<label style="color: red">*</label></li>
			<li style="margin-top: 20px;">Correo<label style="color: red">*</label></li>
			<li style="margin-top: 20px;">Descripción<label style="color: red">*</label></li>
		</div>
		<div class="col-md-4 text-left">
			<input type="text" name=""><br>
			<input type="text" name=""><br>
			<textarea rows="10" cols="32" class="t-area"></textarea><br>
			<button md-button class="btn" type="button" name="contactMessageButton" 
				style="margin-top: 20px; margin-left: 45px; color: white;">
				Enviar
			</button>
		</div>
		<div class="col-md-6">
			<h1 align="center">AskiiT Project</h1>
			<div class="row">
				<h1 class="col-md-4"></h1>
				<div class="col-md-4">
					<p align="center" style="margin-top: 20px;">
						Si tienes alguna duda o comentario sobre nuestra aplicación contáctanos! 
						Estamos para ayudarte.
					</p>
					<h5 align="left">Teléfono: XXXXXXX</h5>
					<h5 align="left">Correo: contact@askiit.com</h5>
					<button md-button class="btn" routerLink='' 
						style="margin-top: 40px; color: white;">
						Volver
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
