<div class="divQuestion">
  <md-card class="cardQuestion" (click) ="onChange($event)">
    <md-card-content>
        <div class="user" [ngStyle]="{'background-image':imageURL, 'background-color': myQuestion.user.color}"
            [@fadeInOut]>
        </div>

        <div class = "title">{{myQuestion.title}}</div>
        <span class="spacer"></span>
        <div mdTooltip="Dificultad" id="difficulty" mdTooltipPosition="left"
            [class.diff-low]="myQuestion.difficulty>=0&&myQuestion.difficulty<5"
            [class.diff-med]="myQuestion.difficulty>=5&&myQuestion.difficulty<8"
            [class.diff-height]="myQuestion.difficulty>=8">
            {{myQuestion.difficulty}}
        </div>
        <div mdTooltip="Postulados" mdTooltipPosition="right" id="postuls" (click)="openPostulatedDialog()">
            {{myQuestion.p_users.length}}
        </div>
    </md-card-content>
  </md-card>

  <md-card class="cardBodyQuestion center-block row" *ngIf="expand" [@fadeInOut] [@slideIn]>

      <md-card-content class="bodyContain col-md-10">
        <div class="topic text-center" [ngStyle]="{'background-color': myQuestion.topic.color }">
          {{myQuestion.topic.topic_name}}
        </div>

        <div class="content">
            <div class="bodyQuestion" style="color: #444444">
              <p>{{myQuestion.body}}</p>
            </div>
            <md-chip-list>
                <md-chip class="tag text-center" *ngFor="let tag of myQuestion.tags">{{tag.tag_name}}</md-chip>
            </md-chip-list>
        </div>

      </md-card-content>

      <md-card-actions class="divButtons col-md-2">
        <button id="know-button" md-button class="buttons" style="margin-left: 4px;"
            [disabled]="disableIKnowIt" [class.knowSelected] = "postulated">
          <i id="know" class="icon material-icons md-18">mode_edit</i>
          EDIT
        </button>
        <button id="report-button" md-button class="buttons" style="margin-top: 5px" (click)="onDelete()">
          <i id="report" class="icon material-icons md-18">close</i>
          DELETE
        </button>
        <button id="up-button" md-button class="buttons" style="margin-top: 5px">
          <i id="up" style="margin-right: 20px;" class="icon material-icons md-18">vertical_align_top</i>
          UP
        </button>
      </md-card-actions>

  </md-card>
</div>
