<md-toolbar class="theme-color">
  <span class="" style="color: white">{{title}}</span>
  <div class="" style="color: white">{{num}}</div>

  <span class="spacer"></span>

  <div class="">
    <button md-button class="btn tool-bar-btn" style="color: white; background-color: #3DA867" routerLink=''>
      Sign In
    </button>
  </div>

  <div class="">
    <button md-button class="btn tool-bar-btn" style="color: white; background-color: #3DA867" routerLink='sign-up'>
      Sign Up
    </button>
    <button (click)="increment()">
        Increment
    </button>
  </div>
</md-toolbar>
