.topping {
	margin-top: 20px;
}

.banner {
	background: #07f0fa;
}

.btn1 {
	color: #56bfa2;
	background-color: #266755;
}

.theme-color {
	background-color: #0E445F;
	color: #18312e;
}

.tool-bar-btn {
	width: 200px;
}
