<div class="divQuestion">
  <md-card class="cardQuestion" (click) = onChange($event)>
    <md-card-content>
        <div id = "difficulty">{{question.difficulty}}</div>
        <div class = "title">{{question.title}}</div>
            <!--div class="divExpandButtom">
                <button md-button (click) = onChange($event)>
                    <i class="material-icons md-18">low_priority</i>
                </button>
            </div>-->
    </md-card-content>
  </md-card>

  <md-card class="cardBodyQuestion center-block row" *ngIf="expand">
      <md-card-content class="bodyContain">
        <div class="topic text-center" [ngStyle]="{'background-color': topicColor }">
          {{question.topic.topic_name}}
        </div>
        <div class="bodyQuestion">
          <p>{{question.body}}</p>
        </div>


        <div class="tag text-center" *ngFor="let tag of question.tags">{{tag.tag_name}}</div>

      </md-card-content>

      <md-card-actions class="divButtons">
        <button id="report" class="buttons" md-button>
          <i class ="icon material-icons md-18">report</i>
        </button>
        <button id="replay" class="buttons" md-button>
          <i class="icon material-icons md-18">replay</i>
        </button>
        <button id="reply" class="buttons" md-button>
          <i class="icon material-icons md-18">reply</i>
        </button>
      </md-card-actions>
  </md-card>
</div>
