<header class='row banner'>
  <!--div class="col-md-6">
    <h1>{{title}}</h1>
  </div>

  <section>
    <div class="col-md-3 topping text-right">
      <button md-button class="btn1" (click)="buttonSignIn()">Sign In</button>
    </div>
    <div class="col-md-3 topping text-center">
      <button md-button class="btn1" (click)="buttonSignUp()">Sign Up</button>
    </div>
  </section>-->

</header>

<section>
    <!--app-landing [sign]="sign"></app-landing>-->
    <app-main-view></app-main-view>
</section>