<section class="unicorn-dark-theme">
    <form name="signUpForm" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    	<md-input-container class="md-block" flex-gt-sm>
            <input mdInput placeholder="Nombre" #refName class="form-control" formControlName="name" required>
            <md-hint *ngIf="signUpForm.controls['name'].hasError('required') && refName.pristine" align="end" >
              A Name is required
            </md-hint>
            <md-hint *ngIf="signUpForm.controls['name'].hasError('minlength')" align="end" >
              Please enter at least 4 characters
            </md-hint>
            <md-hint *ngIf="signUpForm.controls['name'].hasError('pattern')"  >
              Please enter a valid name
            </md-hint>
        </md-input-container>


        <md-input-container class="md-block" flex-gt-sm>
            <input mdInput placeholder="Apellido" class="form-control" formControlName="lastName">
        </md-input-container><br>

    	<md-input-container class="md-block" flex-gt-sm>
            <input mdInput placeholder="Correo" type="email" class="form-control" formControlName="email">
        </md-input-container>

    	<md-input-container class="md-block" flex-gt-sm>
            <input mdInput placeholder="Usuario" class="form-control" formControlName="userName">
        </md-input-container><br>

        <div class="row">
        	<md-input-container class="col-md-6" style="width: 38%; margin-right: 4%">
                <input mdInput type="password" placeholder="Contraseña" class="form-control" formControlName="password">
            </md-input-container><br>

            <div class="col-md-2 choosen-color" [ngStyle]="{'background-color': colorSelected}"></div>

            <div class="dropdown col-md-4">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Favorite Color
              <span class="caret"></span></button>
              <ul class="dropdown-menu" style="margin-left: 10%; min-width: 70%; max-width: 70%; padding: 5px;
                    background-color: black" >
                <span *ngFor="let c of availableColors" [ngStyle]="{'background-color': c}"
                    class="color-item" (click)="updateColor(c)">
                </span>
              </ul>
            </div>

        </div>

    	<md-input-container class="md-block" flex-gt-sm>
            <input mdInput type="password" placeholder="Confirmar contraseña" class="form-control" formControlName="cpassword">
        </md-input-container><br>

        <recaptcha (resolved)="resolved($event)" siteKey="6LegqR4UAAAAAEDmXG2UgqwhMZ_Q2vLl2i45BXcG"></recaptcha><br>

        <div class="col-md-8 text-rigth top30">
            <button md-button class="btn" style="color: white; margin-left: 35%; background-color: #3DA867"
                type="submit" name="buttonSignUp">Registrarse</button>
        </div>

    </form>
</section>
