<section class="unicorn-dark-theme">
    <form name="signUpForm" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    	<md-input-container class="md-block" flex-gt-sm>
            <input mdInput placeholder="Nombre" #refName  formControlName="name" required>
            <md-hint *ngIf="signUpForm.controls['name'].hasError('minlength')" align="end" [ngStyle]="{'color': 'red'}">
              Ingresa mínimo 4 caracteres
            </md-hint>
            <md-hint *ngIf="signUpForm.controls['name'].hasError('maxlength')" align="end" [ngStyle]="{'color': 'red'}">
               Ingresa máximo 30 caracteres
            </md-hint>
            <md-hint *ngIf="signUpForm.controls['name'].hasError('pattern')"  >
              Ingresa un nombre valido
            </md-hint>
        </md-input-container>


        <md-input-container class="md-block" flex-gt-sm>
            <input mdInput placeholder="Apellido" #refLastName formControlName="lastName"  required>
            <md-hint *ngIf="signUpForm.controls['lastName'].hasError('minlength')" align="end" [ngStyle]="{'color': 'red'}">
              Ingresa mínimo 4 caracteres
            </md-hint>
            <md-hint *ngIf="signUpForm.controls['lastName'].hasError('maxlength')" align="end" [ngStyle]="{'color': 'red'}">
               Ingresa máximo 30 caracteres
            </md-hint>
            <md-hint *ngIf="signUpForm.controls['lastName'].hasError('pattern')"  [ngStyle]="{'color': 'red'}">
              Ingresa un apellido valido
            </md-hint>

        </md-input-container><br>

    	<md-input-container class="md-block" flex-gt-sm>
            <input mdInput placeholder="Correo" type="email"  formControlName="email" [(ngModel)]="em" (ngModelChange)="inputChangeE(em)" required>
            <md-hint *ngIf="checkForEmptyResponseE(em) " align="center" [ngStyle]="{'color': 'red'}">
              Este correo ya existe
            </md-hint>
        </md-input-container>

    	<md-input-container class="md-block" flex-gt-sm>
            <input mdInput placeholder="Usuario" #refUserName formControlName="userName" [(ngModel)]="us" (ngModelChange)="inputChange(us)" required>
            <md-hint *ngIf="checkForEmptyResponse(us) " align="center" [ngStyle]="{'color': 'red'}">
              Este usuario ya existe
            </md-hint>
            <md-hint *ngIf="signUpForm.controls['userName'].hasError('minlength')" align="end" [ngStyle]="{'color': 'red'}">
              Ingresa mínimo 5 caracteres
            </md-hint>
            <md-hint *ngIf="signUpForm.controls['userName'].hasError('maxlength')" align="end" [ngStyle]="{'color': 'red'}">
               Ingresa máximo 20 caracteres
            </md-hint>
            <md-hint *ngIf="signUpForm.controls['userName'].hasError('pattern')"  [ngStyle]="{'color': 'red'}">
              Ingresa un usuario valido
            </md-hint>
        </md-input-container><br>

        <div class="row">
        	<md-input-container class="col-md-6" style="width: 38%; margin-right: 4%">
                <input mdInput type="password" placeholder="Contraseña" #refPassword formControlName="password" [(ngModel)]="term"  required>
                <md-hint *ngIf="signUpForm.controls['password'].hasError('minlength')" align="end" [ngStyle]="{'color': 'red'}">
                  Ingresa mínimo 8 caracteres
                </md-hint>
                <md-hint *ngIf="signUpForm.controls['password'].hasError('maxlength')" align="end" [ngStyle]="{'color': 'red'}">
                   Ingresa máximo 72 caracteres
                </md-hint>
            </md-input-container><br>

            <div class="col-md-2 choosen-color" [ngStyle]="{'background-color': colorSelected}"></div>

            <div class="dropdown col-md-4">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Favorite Color
              <span class="caret"></span></button>
              <ul class="dropdown-menu" style="margin-left: 10%; min-width: 70%; max-width: 70%; padding: 5px;
                    background-color: black" >
                <span *ngFor="let c of availableColors" [ngStyle]="{'background-color': c}"
                    class="color-item" (click)="updateColor(c)">
                </span>
              </ul>
            </div>

        </div>

    	<md-input-container class="md-block" flex-gt-sm>
            <input mdInput type="password" placeholder="Confirmar contraseña"  formControlName="cpassword" [(ngModel)]="term1"  (ngModelChange)="isPass()" required>
            <md-hint *ngIf="!repass "[ngStyle]="{'color': 'red'}">
               Debe ser la misma contraseña
            </md-hint>
        </md-input-container><br>

        <recaptcha (resolved)="resolved($event)" siteKey="6LegqR4UAAAAAEDmXG2UgqwhMZ_Q2vLl2i45BXcG"></recaptcha><br>

        <div class="col-md-8 text-rigth top30">
            <button md-button class="btn" style="color: white; margin-left: 35%; background-color: #3DA867"
                type="submit" name="buttonSignUp">Registrarse</button>
        </div>

    </form>
</section>
