<nav class="col-md-2 chat-box" style="margin-top: 10px;">
	<div id="designDiv">

		<div class="search">
			<span class="fa fa-search"></span>
			<input  class="form-control" type="text"  placeholder="Search by User"
				[(ngModel)]="term" (ngModelChange)="inputChange(term)">
		</div>

		<md-progress-bar class="unicorn-dark-theme" mode="indeterminate"
			style="width: 90%;" *ngIf="!gotResponse"></md-progress-bar>

		<div id="searchBox" *ngIf="checkForEmptyResponse(term)" [@fadeInOut]>
			<li style="color: #538CD1;" [routerLink]="['/home','profile', u.username]"
 				*ngFor="let u of allUsers">
				{{u.username}}
			</li>
		</div>

	</div>
	<h5 style="margin-top: 10px; color: #0E445F">Tus conversaciones</h5>
	<!-- <div (click)="openChat()" style="cursor: pointer">
		Open chat!
	</div> -->

	<div class="current-container" *ngIf="currentChats.length > 0" [@fadeInOut]>
		<h6 style="color: #0E445F">Ahora!</h6>
		<div *ngFor="let c of currentChats; let i = index" class="chat-bubble" (click)="openChat(i)">
			<div class="child row" [@fadeInOut]>
				<div class="col-md-8">
					{{c.username}}
				</div>
				<div class="new-msg vcenter">
					<div *ngIf="c.unreadMsgs > 0 && c.unreadMsgs < 100" [@fadeInOut]>{{c.unreadMsgs}}</div>
					<div *ngIf="c.unreadMsgs > 99" [@fadeInOut]>99+</div>
				</div>
			</div>
		</div>
	</div>

	<div class="request-container" *ngIf="requestChats.length > 0" [@fadeInOut]>
		<h6 style="color: #0E445F">Solicitudes</h6>
		<div *ngFor="let c of requestChats" class="chat-bubble">
			<div class="child" [@fadeInOut]>
				{{c.username}}
			</div>
		</div>
	</div>

	<div class="accept-container" *ngIf="acceptChats.length > 0" [@fadeInOut]>
		<h6 style="color: #0E445F">Alguien te necesita</h6>
		<div *ngFor="let c of acceptChats; let i = index" class="chat-bubble" (click)="acceptChatRequest(i)">
			<div class="child" [@fadeInOut]>
				{{c.username}}
			</div>
		</div>
	</div>
</nav>
