<button (click)="showData()">Click me</button>
<virtual-scroll style=""
  [childHeight]="63"
  [items]="buffer"
  (update)="scrollItems = $event"
  (end)="fetchMore($event)">
  <md-spinner class="center-block" style="margin-top: 25%" *ngIf="initialResponse==false"></md-spinner>
  <app-question *ngFor="let question of scrollItems"
    [question]="question"
    (onResize)="refresh($event)"> </app-question>

  <!--div *ngIf="loading" class="loader">Loading...</div>-->
  <md-progress-bar class="unicorn-dark-theme" mode="indeterminate"
    style="margin-top: 15px;" color="warn" *ngIf="loading"></md-progress-bar>
</virtual-scroll>
