.c1{
  background-color: white;
}

.c1 p{
  color: black;
  text-align: center;
  margin-bottom:5px;
}
.c1 h1{
  font-style:italic;
}

.c1 img{
  border: 3px solid #105477;
  align-self: center;
  -webkit-border-radius: 50px;
}

.c-username {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
}
.c-name{
  color: black;
  text-align: center;
  font-size: 29px;
}

.rank img{
  width: 80px;
  height: 80px;
}

.rank{
  font-size: 20px;
  color: #666;
  display: flex;
  flex-flow: row wrap;
}

.rank inner-rank{
  padding-left: 20px;
}

.rank #inner-rank{
    padding-left: 20px;
}

.rank img{
    padding-left: 20px;
}

.c2{
  background-color: #E7E7E7;
  height: 86vh;
}

.c2 p, h1{
  color:black;
}

#es{
  color: black;
}
.de{
  font-size: 25px;
  color: #666;
}
