<nav class="col-md-2 nav-box" style="margin-top: 5px;">
    <div class="nav-rank">
        <i class="material-icons vcenter" style="color: yellow;">star</i>
        Rank
    </div>

    <div class="nav-button" [routerLink]="['/home','myProfile']">
        <div class="child">
            <md-icon style="margin-right: 12px;" class="vcenter">person</md-icon>
            Mi perfil
        </div>
    </div>

    <div class="nav-button" [routerLink]="['/home','questions']">
        <div class="child">
            <md-icon style="margin-right: 12px;" class="vcenter">school</md-icon>
            Mis preguntas
        </div>
    </div>

    <div class="nav-button" (click)="openNotifications()">
        <div class="child">
            <md-icon *ngIf="notReaded < 1" style="margin-right: 12px;" class="vcenter">notifications</md-icon>
            <md-icon *ngIf="notReaded > 0" style="margin-right: 12px; color: green" class="vcenter">notifications_active</md-icon>
            Notificaciones
        </div>
    </div>

    <app-search></app-search>

<nav>
