<nav class="col-md-2 nav-box" style="margin-top: 10px;">
    <div class="nav-rank">
        <i class="material-icons vcenter" style="color: yellow;">star</i>
        Rank
    </div>
    <!--button md-button [routerLink]="['/home','myProfile']" class="nav-btn text-center">Mi perfil</button>-->
    <button md-button class="nav-btn" [routerLink]="['/home','myProfile']">
        <md-icon style="margin-right: 12px;">person</md-icon>
        Mi perfil
    </button>

    <button md-button class="nav-btn" [routerLink]="['/home','questions']">
        <md-icon style="margin-right: 12px;">school</md-icon>
        Mis preguntas
    </button>

    <button md-button class="nav-btn" (click)="openNotifications()">
        <md-icon *ngIf="notReaded < 1" style="margin-right: 12px;">notifications</md-icon>
        <md-icon *ngIf="notReaded > 0" style="margin-right: 12px; color: green">notifications_active</md-icon>
        Notificaciones
    </button>

    <app-search></app-search>

<nav>
