<nav class="col-md-2 nav-box" style="margin-top: 5px;">

    <div class="nav-rank">
        <div *ngIf="imageURL!=undefined" class="user child" [ngStyle]="{'background-image':imageURL, 'background-color': color}"
            [@fadeInOut]>
        </div>
        <i class="material-icons child" style="color: yellow; text-align: right">star</i>
        <div style="text-align: left">{{userData.first_name}}</div>
    </div>

    <div class="nav-button" [routerLink]="['/home','myProfile']">
        <div class="child div">
            <md-icon style="margin-right: 12px;" class="vcenter">person</md-icon>
            <span>Mi perfil</span>
        </div>
    </div>

    <div class="nav-button" [routerLink]="['/home','questions']">
        <div class="child div">
            <md-icon style="margin-right: 12px;" class="vcenter">school</md-icon>
            <span>Mis preguntas</span>
        </div>
    </div>

    <div class="nav-button" (click)="openNotifications()">
        <div class="child">
            <md-icon *ngIf="notReaded < 1" style="margin-right: 12px;" class="vcenter">notifications</md-icon>
            <md-icon *ngIf="notReaded > 0" style="margin-right: 12px; color: green" class="vcenter">notifications_active</md-icon>
            Notificaciones
        </div>
    </div>

    <app-search></app-search>

<nav>
