.nav-box {
  	width: 100%;
	min-width: 200px;
	height: 92vh;
  	text-align: center;

    padding: 8px;

	background: #474C59;

}

.nav-rank {
	background-color: #000000;
	color: #ffffff;
	margin-top: 8px;
	margin-bottom: 20px;

    text-align: center;

  	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 5px;
}

.nav-button {
    background: #474C59;
    color: white;
    height: 40px;
    display: table;
    width: 100%;
    text-align: left;
    padding-left: 35px;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.nav-button:hover {
    cursor: pointer;
    background: #5F6576;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

.child {
    display: table-cell;
    vertical-align: middle;
}
