/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
@import '~@angular/material/core/theming/prebuilt/purple-green.css';*/
@import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';

body{
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.1em;
  color: #606060;
  background: #eee;
  padding: 20px;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

#main{
  background: #000000;
  padding-top: 140px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  min-height: 600px;
  height: 100%;
}

#promo, #sign{
  background: #fdfdfd;
  padding: 20px;
  /*sombra*/
  -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);

  border-radius: 2px;
  width: 80%;
  height: 700px;
  box-sizing: border-box;
  margin: 0 auto
}

.btn {
  background-color: #3DA867;
  color: white;
  width: 220px;
  height: 40px;
}

.white-font {
  color: white;
}
