.tags {
	background-color: #F0F6FF;
	margin-top: 40px;
	min-height: 50vh;

  	box-shadow: inset 0px 0px 5px 0px rgba(116,120,127,0.75),
		0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),
			0 2px 1px -1px rgba(0,0,0,0.12);

  	-webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 5px;
}

.tag-finder {
	width: 90%;
}

input {
	min-width: 150px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #A0B5D5;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding-right: 10px;
    padding-left: 30px;
	background-position: 2px 3px;
    background-repeat: no-repeat;
}

.search {
	position: relative;
	margin-left: 20px;
}

.search .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
}

input:focus {
    border: 2px solid #0E445F;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#searchBox {
	overflow: auto;
	max-height: 40vh;
	padding-top: 8px;
	padding-top: 8px;
}

#searchBox li{
    -webkit-border-radius: 50px;
    border: 1px solid #CDCDCD;
    margin-top: -1px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    display: block;
	width: 75%;
	margin-left: 15%;
	font-size: 0.8em;
}

.tag-color {
    background-color: #A2FF9D;
	-webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

.topic-color {
    background-color: #FFCF6E;
	-webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

#searchBox li.topic-color:hover{
  background-color: #FAAF1A;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  cursor: pointer;
}

#searchBox li.tag-color:hover{
  background-color: #3DCA35;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  cursor: pointer;
}

#designDiv {
    max-height: 335px;
	padding-top: 5px;
}
